$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.login_button {
  padding-top: 1rem;
}

.link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.copyright_link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.login_panel {
  flex: 1;
  background-color: slateblue;
}

@media screen and (min-width: $xs) {
  // phone

  .restaurant_logo {
    height: 33vh;
  }
  .restaurant_image {
    display: none;
  }
}
@media screen and (min-width: $sm) {
  // pad
  .restaurant_logo {
    display: none;
  }
  .restaurant_image {
    display: block;
    height: 33vh;
  }
}
@media screen and (min-width: $md) {
}
@media screen and (min-width: $lg) {
  // laptop

  .container {
    display: flex;
    flex-flow: row;
  }

  .restaurant_image {
    height: 100vh;
    width: 50vw;
  }
}
@media screen and (min-width: $xl) {
  // desktop
}

.helloworld {
  position: absolute;
  //some CSS
  @media screen and (min-width: $xs) {
    // phone
    background-color: red;
  }
  @media screen and (min-width: $sm) {
    // pad

    background-color: gold;
  }
  @media screen and (min-width: $md) {
    background-color: cyan;
  }
  @media screen and (min-width: $lg) {
    // laptop
    background-color: silver;
  }
  @media screen and (min-width: $xl) {
    // desktop
    background-color: tomato;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
