* {
  box-sizing: border-box;
}

body {
  font-size: 2.5rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.list {
  list-style-type: none;
  display: flex;
}

.list > li {
  margin-right: 1rem;
}
