.TestSpring div {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 3rem;
}

.TestSpring circle {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 3rem;
  border-radius: 50%;
}
